{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'creditreminder'}
{/block}

{block name="page-title"}{intl l='Credit Reminder' d='creditreminder'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}CreditReminder{/block}

{block name="main-content"}
<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="row">
            <div class="col-md-12 title title-without-tabs">
                {intl d='creditreminder' l="Credit Reminder Configuration"}
            </div>
        </div>

        <div class="form-container">
            <div class="row">
                <div class="col-md-12">
                    
                    {* Messages de succès/erreur *}
                    {if isset($success_message) && $success_message}
                        <div class="alert alert-success">
                            {$success_message}
                        </div>
                    {/if}
                    
                    {if isset($error_message) && $error_message}
                        <div class="alert alert-danger">
                            {$error_message}
                        </div>
                    {/if}
                    
                    {* Onglets *}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#configuration" aria-controls="configuration" role="tab" data-toggle="tab">
                                {intl d='creditreminder' l="Configuration"}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#emails" aria-controls="emails" role="tab" data-toggle="tab">
                                {intl d='creditreminder' l="Sent Emails"}
                            </a>
                        </li>
                    </ul>

                    {* Contenu des onglets *}
                    <div class="tab-content">
                        {* Onglet Configuration *}
                        <div role="tabpanel" class="tab-pane active" id="configuration">
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-8">
                                    {form name="creditreminder.configuration"}
                                        <form action="{url path='/admin/module/CreditReminder/config/update'}" method="post">
                                            {form_hidden_fields form=$form}

                                            {if $form_error}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="alert alert-danger">{$form_error_message}</div>
                                                    </div>
                                                </div>
                                            {/if}

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>{intl d='creditreminder' l="General Configuration"}</h3>
                                                    {render_form_field form=$form field='reminder_days_before' value=$reminder_days_before|default:null}
                                                    {render_form_field form=$form field='reminder_interval_days' value=$reminder_interval_days|default:null}
                                                    {render_form_field form=$form field='max_emails_per_run' value=$max_emails_per_run|default:null}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                        {intl d='creditreminder' l="Save configuration"}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    {/form}

                                    <hr>

                                    <h3>{intl d='creditreminder' l="Send a test email"}</h3>
                                    {form name="creditreminder.configuration"}
                                        <form action="{url path='/admin/module/CreditReminder/send-test'}" method="post">
                                            {form_hidden_fields form=$form}

                                            <div class="row">
                                                <div class="col-md-6">
                                                    {render_form_field form=$form field='test_email'}
                                                </div>
                                                <div class="col-md-6">
                                                    {render_form_field form=$form field='test_customer_id'}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-success">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                        {intl d='creditreminder' l="Send test email"}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    {/form}
                                </div>

                                <div class="col-md-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{intl d='creditreminder' l="Information"}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>{intl d='creditreminder' l="This module allows you to send reminder emails to customers whose loyalty credits are about to expire."}</p>
                                            
                                            <h4>{intl d='creditreminder' l="Command line usage:"}</h4>
                                            <pre>php Thelia CreditReminder:send</pre>
                                            
                                            <p>{intl d='creditreminder' l="You can automate this with a cron job:"}</p>
                                            <pre>0 9 * * * cd /path/to/thelia && php Thelia CreditReminder:send</pre>
                                            
                                            <h4>{intl d='creditreminder' l="Options:"}</h4>
                                            <ul>
                                                <li><code>--days=X</code> : {intl d='creditreminder' l="Override the configured number of days"}</li>
                                                <li><code>--dry-run</code> : {intl d='creditreminder' l="Test mode (no emails sent)"}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {* Onglet Liste des emails *}
                        <div role="tabpanel" class="tab-pane" id="emails">
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-12">
                                    <h3>{intl d='creditreminder' l="Sent reminder emails"}</h3>
                                    
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>{intl d='creditreminder' l="ID"}</th>
                                                <th>{intl d='creditreminder' l="Customer"}</th>
                                                <th>{intl d='creditreminder' l="Email"}</th>
                                                <th>{intl d='creditreminder' l="Credit Amount"}</th>
                                                <th>{intl d='creditreminder' l="Expiration Date"}</th>
                                                <th>{intl d='creditreminder' l="Sent at"}</th>
                                                <th>{intl d='creditreminder' l="Test"}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {loop type="credit_reminder_log" name="reminder_logs" is_test="false"}
                                            <tr>
                                                <td>{$ID}</td>
                                                <td>{$CUSTOMER_NAME}</td>
                                                <td>{$EMAIL}</td>
                                                <td>{$CREDIT_AMOUNT} €</td>
                                                <td>{$EXPIRATION_DATE}</td>
                                                <td>{$SENT_AT}</td>
                                                <td>
                                                    {if $IS_TEST}
                                                        <span class="label label-warning">{intl d='creditreminder' l="Test"}</span>
                                                    {else}
                                                        <span class="label label-success">{intl d='creditreminder' l="Real"}</span>
                                                    {/if}
                                                </td>
                                            </tr>
                                            {/loop}
                                            {elseloop rel="reminder_logs"}
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <em>{intl d='creditreminder' l="No emails sent yet"}</em>
                                                </td>
                                            </tr>
                                            {/elseloop}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
